/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;

}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: white;
    padding: 20px 0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #d9232d;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.username {
    font-weight: 500;
}

.menu {
    list-style: none;
    height: 100vh;
}

.menu li {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: #333;
}

.menu li:hover {
    background-color: #f3f3f3;
    color: #d32f2f;
    transform: translateX(5px);
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #333;
    width: 100%;
}

.menu li:hover a {
    color: #d32f2f;
}

.menu li.active a {
    color: #d32f2f !important;
    font-weight: 600;
}

.menu li.active {
    background-color: #fce7e7;
}

/**/
/* .menu li {
    padding: 12px 25px;
    transition: 0.2s;
    cursor: pointer;
} */

/* .menu li:hover {
    background-color: #f3f3f3;
    transform: translateX(5px);
} */
