/* Reset cơ bản */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    background-color: #ffffff;
    color: #222;
    line-height: 1.6;
}

.container {
    margin: 0px auto;
    padding: 0 20px;
    height: 1200px;
    background-color: white;

}
