/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

/* Sidebar */
.sidebar {
    width: 250px;
    background-color: white;
    border-right: 1px solid #ddd;
    padding: 20px 0;
}

.profile {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 60px;
    height: 60px;
    background-color: #d9232d;
    color: white;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.username {
    font-weight: 500;
}

.menu {
    list-style: none;
}

.menu li {
    padding: 12px 25px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    transition: 0.2s;
    color: #333;
}

.menu li:hover {
    background-color: #f3f3f3;
    color: #d32f2f;
    transform: translateX(5px);
}