/* Reset mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, sans-serif;

}

/* LAYOUT */
.container {
    display: flex;
    min-height: calc(100vh - 70px);
    background: #f8f8f8;
    gap: 15px;
    padding: 0 140px;
    padding-top: 35px;
    padding-bottom: 8px;
}

/* MAIN CONTENT */
.container .content {
    flex: 1;
    background-color: white;
    /* padding: 30px; */
}

.container .content h2 {
    padding: 30px;
    font-size: 18px;
    font-weight: 100;
    border-bottom: 1px solid #ddd;
}

/* RATING BOX */
.container .rating-box {
    text-align: center;
    padding: 80px 20px;
}

.container .star-img {
    width: 30px;
    opacity: 0.5;
    margin-bottom: 20px;
}

.msg {
    font-size: 16px;
    margin-bottom: 20px;
    color: #666;
}

.btn-shopping {
    padding: 10px 18px;
    background-color: #2e7d32;
    color: white;
    text-decoration: none;
    border-radius: 4px;
    font-size: 15px;
    font-weight: 500;
    transition: 0.2s;
}

.btn-shopping:hover {
    background-color: #256628;
}