/* Reset mặc định */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, sans-serif;

}

/* =================== BỐ CỤC CHÍNH =================== */
.container {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 70px);
  gap: 15px;
  padding: 0 140px;
  padding-top: 35px;
  padding-bottom: 8px;
  background-color: #f8f8f8;
}


/* =================== PHẦN PROFILE =================== */
.profile {
  flex: 1;
  background: white;
}

.profile-header {
  margin-bottom: 30px;
  padding: 30px ;
}

.avatar-large {
  width: 100px;
  height: 100px;
  background-color: #bb5e41;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  margin: 0 auto 10px;
}

.change-avatar {
  background: none;
  border: none;
  color: #0a66c2;
  cursor: pointer;
  font-size: 14px;
}


/* Bảng thông tin */
.info-table {
  width: 100%;
  margin-top: 20px;
  padding: 0 190px;
}

.info-row {
  display: grid;
  grid-template-columns: 200px 1fr 100px;
  padding: 16px 0;
  border-bottom: 1px solid #eee;
  align-items: center;
  text-align: left;
}

.label {
  color: #555;
  font-size: 15px;
}

.value {
  font-size: 15px;
}

.value.long-text {
  line-height: 1.5;
}

.action {
  color: #0a66c2;
  font-size: 15px;
  cursor: pointer;
  justify-self: end;
}

.verified {
  color: #2ecc71;
  margin-left: 5px;
}