
.product {
    border: 2px solid rgb(247 248 249);
    margin: 20px 0 0 0;
    width: 100%;
    overflow: visible;
    height: auto;
background-color: white;
    position: relative;
    content:"";
    display: table;  /* hoáº·c block */
    clear: both;
}
