body {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    margin: 0;
    color: #333;
    background-color: #f7f8f9
}

/* Layout */
.container {
    display: flex;
    gap: 10px;
    padding: 0 140px;
    align-items: flex-start;
    height: 100vh;
}

/* Left section */
.address-section {
    flex: 1;
    background: #fff;
    border-radius: 6px;
}

.address-section h3#address {
    color: #444;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    padding-bottom: 6px;
    display: block;
    width: 100%;
}

/* .address-section h3#checkout {} */

.address-section label {
    display: block;
    margin: 10px 0 6px 10px;
    cursor: pointer;

}

.form-group {
    margin-bottom: 15px;
    padding: 0 10px;
}

.form-group label {
    display: block;
    color: #808080;
    font-weight: 750;
}

.form-group input,
.form-group select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group select {
    cursor: pointer;
}

.payment-container {
    padding: 0 10px;

}

.payment-methods {
    padding: 10px;
    border: 1px solid #ddd;
}


.payment-methods label {
    display: block;
    margin: 6px 0;
    cursor: pointer;
}

.payment-methods label:hover {
    background: #f5f5f5;
}

.btn-submit {
    background: #2eb82e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.btn-submit:hover {
    background: #26a326;
}

/* Right section */
.cart-section {
    flex: 1;
    background: #fff;
    border-radius: 6px;
}

.cart-section h3 {
    color: #444;
    border-bottom: 1px solid #ddd;
    margin-bottom: 6px;
    padding-bottom: 6px;
    display: block;
    width: 100%;
}

.cart-section label {
    display: block;
    margin: 10px 0 6px 10px;
    cursor: pointer;
}

.product-item {
    display: flex;
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.product-item img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 4px;
}

.product-item .info {
    flex: 1;
}

.product-item .price {
    display: flex;
    gap: 10px;
}

.price .old {
    text-decoration: line-through;
    color: gray;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-top: 6px;
}

.quantity button {
    border: 1px solid #ccc;
    background: white;
    padding: 4px 8px;
    cursor: pointer;
}

.quantity input {
    width: 30px;
    text-align: center;
}

.quantity .remove {
    color: #d60000;
    cursor: pointer;
    font-size: 14px;
}

.summary {
    text-align: right;
}

.summary p {
    display: flex;
    justify-content: space-between;
}
 /* Tạo chiều rộng cố định cho cột bên trái */
/* .summary p span:first-child {
    display: inline-block;
    width: 100px;
    text-align: left;
}

.summary p span:last-child {
    text-align: right;
    flex: 1;
} */

.summary .total {
    color: red;
    font-weight: bold;
}

.discount-code {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 10px;
    gap: 8px;
}

.discount-code:hover {
    color: red;
}

/* Footer */
.footer {
    background: #f3f3f3;
    text-align: center;
    padding: 20px 40px;
    font-size: 14px;
    border-top: 1px solid #ddd;
    color: #666;
    line-height: 1.6;
}

.footer strong {
    color: #333;
}

.footer a {
    color: #0077cc;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}