/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}



/* BODY BACKGROUND */
body {
    background-color: #0099ff;
}

/* Promotion bar */
/* .promotion {
    background: white;
    padding: 6px 10px;
    font-size: 14px;
    text-align: center;
    border-top: 1px solid #eee;
} */

/* Layout */
.container {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px 0;
}

/* Banner left */
.banner-left img {
    width: 520px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

/* Form box */
.form-box {
    width: 450px;
    height: 460px;
    background: white;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
}

.form-box h2 {
    margin-top: 20px;
    font-weight: 500;
    border-bottom: 1px solid #ddd;
}
.form-box p {
    margin-top: 30px;
    color: #666;

}
.email-input {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #bbb;
    border-radius: 4px;
}

/* .captcha-box {
    border: 1px solid #bbb;
    padding: 10px;
    margin-top: 15px;
    border-radius: 4px;
} */

/* Links */
.links {
    margin-top: 15px;
}

.links a {
    font-size: 14px;
    color: #0077cc;
    text-decoration: underline;
}

/* Button */
.submit-btn {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background: #e6e6e6;
    color: #999;
    cursor: not-allowed;
}

.submit-btn.active {
    background: #d60000;
    color: white;
    cursor: pointer;
}